@import url("responsive.css");

#app{
	margin:auto;
}

body {
	background-color: #FFFFFF;
	margin: 0;
	font-family: 'Roboto', sans-serif;
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome*/
}

ul.header li {
	display: inline-grid;
	list-style-type: none;
	margin: 0;
	width:33.33%;
	text-align:center;
}

ul.header {
	background-color: #111;
	padding: 0;
	margin: 0px;
}

ul.header li a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
}

ul.header .active {
  background-color: #0099FF;
}

.content {
	background-color: #FFF;
/* 	padding: 20px; */
	margin:auto;
}

.content h2 {
	padding: 0;
	margin: 0;
}

.content li {
	margin-bottom: 10px;
}

.formselect{
	font-size:1.5em;
	padding-right:10px;
}

.renderContent{
	float:left;
	width:100%;
	padding-bottom:30px;
	background-color:#FFFFFF;
	padding:20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.table{
	width:100%;
	border-spacing:0px;
	margin-bottom:30px;
}

.tournamenttable tr td:not(:first-child){
	text-align:right;
	padding-left:5px;
}

.tournamenttable tr td.right{
	text-align:right;
}

.tournamenttable tr td.center{
	text-align:center;
}

.tournamenttable tr td.left{
	text-align:left;
}

.tournamenttable tr:nth-child(even) {
	background: #F0F0F0;
}

.gamerowtable tr td:last-child{
	text-align:right;
}

.table td.tdcenter{
	text-align:center;
}

.table td.tdleft{
	text-align:left;
}

.table td.tdright{
	text-align:right;
}

.gamerowtable .gamerow{
	line-height:20px;
}

.gamerowtable{
	border-spacing: 0px 0.5rem;
}

.actionbutton{
	color: #88c3b8;
	font-size:2em;
}

.gamerow .actionbutton{
	
}

.gamerow.gamelist{
	font-size:1.1em;
}

.gamerow.newgame .name{
	font-size:1.1em;
}

.actionbutton.default{
	border:1px solid #88c3b8;
	padding:0px 4px 0px 4px;
	border-radius: 5px;
}

.gamerow .actionbutton.save{
	font-size:3em;
}

.gamerow .actionbutton.delete{
	color: #aaaaaa;
}

.player{
	padding:10px;
	margin:2px;
	border: 1px solid #88c3b8;
	border-radius: 5px;
	width:25%;
	display:inline-block;
}

.player.selected, .tournamentSelect .tournament.selected{
	background-color: #0099FF;
	color:#ffffff;
}

div.center{
	text-align:center;
}
div.right{
	text-align:right;
}

div.newgame{
	margin-top:20px;
}

.gamescorebutton{
	margin:5px;
	width:40px;	
	height:40px;
	font-weight: bold;
	border: 1px solid #88c3b8;
	border-radius: 5px;
	background-color: #ffffff;
}

.tournamentSelect{
	width:100%;
	display:inline-block;
}

.tournamentSelect .topic{
	float:left;
	width:30%;
	
}

.tournamentSelect .select{
	float:right;
	width:60%;
	height:30px;
	direction: rtl;
}

.tournamentSelect .tournamentList{
	text-align:right;
}

.tournamentSelect .tournament{
	padding:10px;
	margin:2px;
	border: 1px solid #88c3b8;
	border-radius: 5px;
	display:inline-block;
}



.tournamentadd{
	margin:2px;
	border: 1px solid #88c3b8;
	border-radius: 5px;
	padding:10px;
	width:30%;
	display:inline-block;
}

.tournamentadd .name{
	font-weight:bold;
}

.newgametable{
	margin-top:20px;
}

.topic {
	font-size:1.5em;
}

.newgame .topic{
	text-align: center;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.masterrefresh{
	padding-left:30px;
	font-size:1.5em;
}

.playerstats{
	padding-bottom: 30px;
	
}	

.selecttoken{
	float:left;
	font-size:1.5em;
	text-align:center;
	color: #c5c5c5;
	padding-right:10px;
}

.selecttoken.playerselecttoken{
	width:50%;
	padding-bottom: 50px;
	padding-right:0px;
	font-size:2em;
}

.selecttoken.selected{
	color: #60a5fd;
}

.tournamentformselect{
	text-align:center;
	display:inline-block;
	width:15%;
	border-style: solid;
	border-width:1px;
	border-color: black;
	border-width: 1px 0px 1px 1px;
}

.tournamentformselect.selected{
	background-color: #0099FF;
	color:white;
}	

.tournamentformselect.right{
	border-radius: 0px 5px 5px 0px;
	border-width: 1px 1px 1px 1px;
}

.tournamentformselect.left{
	border-radius: 5px 0px 0px 5px;
	border-width: 1px 0px 1px 1px;
}

.hidden{
	display: none;
}

.selectable{
	cursor: pointer;
}
