@import url("responsive.css");

#app{
	margin:auto;
}

body {
	background-color: #FFFFFF;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

ul.header li {
	display: inline-grid;
	list-style-type: none;
	margin: 0;
	width:33.33%;
	text-align:center;
}

ul.header {
	background-color: #111;
	padding: 0;
	margin: 0px;
}

ul.header li a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
}

ul.header .active {
  background-color: #0099FF;
}

.content {
	background-color: #FFF;
/* 	padding: 20px; */
	margin:auto;
}

.content h2 {
	padding: 0;
	margin: 0;
}

.content li {
	margin-bottom: 10px;
}

.formselect{
	font-size:1.5em;
	padding-right:10px;
}

.renderContent{
	float:left;
	width:100%;
	padding-bottom:30px;
	background-color:#FFFFFF;
	padding:20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.table{
	width:100%;
	border-spacing:0px;
	margin-bottom:30px;
}

.tournamenttable tr td:not(:first-child){
	text-align:right;
	padding-left:5px;
}

.tournamenttable tr:nth-child(even) {
	background: #F0F0F0;
}

.gamerowtable tr td:last-child{
	text-align:right;
}

.table td.tdcenter{
	text-align:center;
}

.table td.tdleft{
	text-align:left;
}

.table td.tdright{
	text-align:right;
}

.gamerowtable .gamerow{
	line-height:20px;
}

.gamerowtable{
	border-spacing: 0px 0.5rem;
}

.actionbutton{
	color: #88c3b8;
	font-size:2em;
}

.gamerow .actionbutton{

}

.actionbutton.default{
	border:1px solid #88c3b8;
	padding:0px 4px 0px 4px;
	border-radius: 5px;
}

.gamerow .actionbutton.save{
	font-size:3em;
}

.gamerow .actionbutton.delete{
	color: #aaaaaa;
}

.player{
	padding:10px;
	margin:2px;
	border: 1px solid #88c3b8;
	border-radius: 5px;
	width:25%;
	display:inline-block;
}



.gamescorebutton{
	margin:5px;
	width:40px;	
	height:40px;
	font-weight: bold;
	border: 1px solid #88c3b8;
	border-radius: 5px;
	background-color: #ffffff;
}

.tournamentSelect{
	width:100%;
	display:inline-block;
}

.tournamentSelect .topic{
	float:left;
	width:30%;
	
}

.tournamentSelect .select{
	float:right;
	width:60%;
	height:30px;
	direction: rtl;
}

.tournamentadd{
	margin:2px;
	border: 1px solid #88c3b8;
	border-radius: 5px;
	padding:10px;
	width:30%;
	display:inline-block;
}

.tournamentadd .name{
	font-weight:bold;
}

.newgametable{
	margin-top:20px;
}

.topic {
	font-size:1.5em;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.masterrefresh{
	padding-left:30px;
	font-size:1.5em;
}

.playerstats{
	padding-bottom: 30px;
	
}	
